:root {
  
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-bg: #f4f4f9;
  --color-text: #333;
  --color-white: #ffffff;
  --color-border: #ddd;


  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 16px;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 20px;
}

section {
  background: var(--color-white);
  border: 1px solid var(--color-border); 
  border-radius: 8px;
  margin-bottom: 25px; 
  padding: 30px;       
}



.menu-links {
 position: fixed;
  top: 0;
  left: 0; /* Mudou de -100% para 0 para fixar no topo */
  width: 100%; /* Mudou de 250px para 100% para ocupar toda a largura */
  height: auto; /* Mudou de 100% para auto para a altura se adaptar ao conteúdo */
  background: var(--color-white);
  z-index: 1000;
  padding: 15px 20px; /* Ajustado o estofamento para o formato horizontal */

  /* Ativa o Flexbox na horizontal */
  display: flex;
  flex-direction: row; /* Alinha os itens lado a lado */
  justify-content: center; /* Centraliza os links (opções abaixo) */
  gap: 20px;
  
}

.menu-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;

}


#menu-toggle:checked ~ .menu-links {
  left: 0; /
}


.menu-links li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-border);
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid transparent;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: 0.2s;
  margin: 10px 5px;
}

button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.card-container {
border-radius: 12px; /* Arredonda as bordas. Quanto maior o número, mais redondo fica */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* Cria a sombra leve ao redor */
  width: 300px;
  padding: 20px;
  
  overflow: hidden;

}

.cards-wrapper {
  display: flex; /* Ativa o modo Flexbox */
  flex-direction: row; /* Alinha os filhos em linha (horizontal) */
  justify-content: center; /* Centraliza o grupo de containers na tela */
  gap: 20px; /* Cria um espaço de 20px entre um container e outro */
  
  padding: 20px; /* Um espaço opcional nas bordas da tela */
  flex-wrap: wrap; /* Muito importante! Se a tela for pequena (celular), os containers pulam para a linha de baixo em vez de esmagar */
}
